@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
  font-family: "Didot";
  src: url("Didot-HTF-M96-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  --color-primary: red;

  --color-light: rgba(240,240,240,1);
  --color-dark: rgba(60,60,60,1);
  --color-medium: #b9b9b9;
  --color-dark-shade: rgba(60,60,60,.8);

  background: white;
  color: var(--color-dark);
  font-family: "Didot", serif;
}
h1 {
  font-size: 60px;
  /* font-weight: normal; */
}
p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}

.slot, .slot-plugin {
  padding: 0;
  margin: 0;
}
.slot-plugin {
  height: 100%;
  width: 100%;
}

/* Color Setters */
.light-bg {
  background: white;
}
.hidden {
  opacity: 0;
}


/* BUTTONS */
[class*="button"] {
  cursor: pointer;
  transition: all .2s;
}


/* FORMATS */
.container {
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
