.slide {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  transition: all .3s;
}

.slide-grid-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 40% 25% 35%;
}


.slide-grid-col1 {
  height: 100%;
}
