.slider-control {
  /* background: red; */
  position: absolute;
  top: 50px;

  /* width: 120px; */
  display: flex;
  align-items: center;
}
.button-control {
  padding: 21px;
  line-height: 0;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-dark);
} .button-control:hover {
  transform: scale(1.05);
}


.slider-sheet {
  background: var(--color-dark-shade);
  height: 100vh;
  display: grid;
  grid-template-rows: 100vh;
  transition: all .3s;
  z-index: -5;
}
.slide {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
